In [102]:
import pandas as pd
import numpy as np
data = pd.read_csv('journals/orders_06_04_21_22_55.csv')

In [103]:
data.head()

,date,price,amount,action,sum,status,source,income,balance
0,2021-01-28 14:00:00,266.60,100,buy,-26660.0,open,strategy,0.0,-26660.0
1,2021-01-28 14:00:00,265.80,100,sell,26580.0,close,stop_loss,-80.0,-80.0
2,2021-01-28 15:00:00,266.27,100,buy,-26627.0,open,strategy,0.0,-26707.0
3,2021-01-28 15:00:00,265.47,100,sell,26547.0,close,stop_loss,-80.0,-160.0
4,2021-01-28 16:00:00,265.00,100,buy,-26500.0,open,strategy,0.0,-26660.0

In [126]:
data.tail()

,date,price,amount,action,sum,status,source,income,balance
372,2021-04-06 08:00:00,284.91,100,sell,28491.0,open,strategy,0.0,31783.0
373,2021-04-06 14:00:00,283.10,100,buy,-28310.0,close,strategy,181.0,3473.0
374,2021-04-06 15:00:00,282.20,100,sell,28220.0,open,strategy,0.0,31693.0
375,2021-04-06 16:00:00,282.22,100,buy,-28222.0,close,strategy,-2.0,3471.0
376,2021-04-06 17:00:00,282.75,100,buy,-28275.0,open,strategy,0.0,-24804.0

In [105]:
len(data[data['income']>0])/len(data)*100

15.384615384615385

In [106]:
round(len(data[data['source']=='stop_loss'])/len(data)*100, 2)

28.12

In [107]:
round(len(data[data['source']=='take_profit'])/len(data)*100, 2)

2.39

In [108]:
np.mean(data[data['source']=='stop_loss']['income'])

-83.26415094339623

In [109]:
np.mean(data[data['source']=='take_profit']['income'])

552.2222222222222

In [110]:
data['balance'][-2:-1].values[0] - data['balance'][0:1].values[0]

30131.0

In [111]:
data['balance'][-2:].values[0]

3471.0

In [112]:
data['balance'][-2:-1].values[0]

3471.0

In [113]:
q = data['balance'][-1:].values[0] if data['status'][-1:].values[0]=='close' else data['balance'][-2:-1].values[0]

In [114]:
q

3471.0

In [124]:
data['date'] = pd.to_datetime(data['date'])
date_close = data[data['status']=='close']

(date_close.groupby([date_close.date.dt.strftime('%Y-%m')], sort=True)
           .income.agg([('Sum','sum'),('Average','mean')])
           .add_prefix('activeMembers')
           .reset_index()
)

      date  activeMembersSum  activeMembersAverage
0  2021-01             -73.0            -12.166667
1  2021-02             592.0              6.883721
2  2021-03            2378.0             27.976471
3  2021-04             574.0             52.181818

In [127]:
(date_close.groupby([date_close.date.dt.strftime('%Y-%W')], sort=True)
           .income.agg([('Sum','sum'),('Average','mean')])
#           .reset_index()
)

            Sum     Average
date
2021-04   -73.0  -12.166667
2021-05   409.0   19.476190
2021-06   -45.0   -2.142857
2021-07  -126.0   -4.344828
2021-08   354.0   23.600000
2021-09   356.0   20.941176
2021-10  1041.0   86.750000
2021-11   468.0   20.347826
2021-12   738.0   36.900000
2021-13   -57.0   -2.850000
2021-14   406.0  101.500000

In [131]:
qqq=date_close.groupby([date_close.date.dt.strftime('%Y-%W')], sort=True).income.agg([('Sum','sum'),('Average','mean')])

In [134]:
np.mean(qqq['Average'])

26.18280378527314

In [135]:
date_close

,date,price,amount,action,sum,status,source,income,balance
1,2021-01-28 14:00:00,265.80,100,sell,26580.0,close,stop_loss,-80.0,-80.0
3,2021-01-28 15:00:00,265.47,100,sell,26547.0,close,stop_loss,-80.0,-160.0
5,2021-01-29 07:00:00,264.20,100,sell,26420.0,close,stop_loss,-80.0,-240.0
7,2021-01-29 12:00:00,261.47,100,buy,-26147.0,close,strategy,69.0,-171.0
9,2021-01-29 13:00:00,260.25,100,sell,26025.0,close,stop_loss,-78.0,-249.0
...,...,...,...,...,...,...,...,...,...
367,2021-04-02 18:00:00,291.65,100,sell,29165.0,close,strategy,189.0,3065.0
369,2021-04-05 13:00:00,288.59,100,buy,-28859.0,close,strategy,313.0,3378.0
371,2021-04-06 07:00:00,287.36,100,sell,28736.0,close,stop_loss,-86.0,3292.0
373,2021-04-06 14:00:00,283.10,100,buy,-28310.0,close,strategy,181.0,3473.0
375,2021-04-06 16:00:00,282.22,100,buy,-28222.0,close,strategy,-2.0,3471.0